.hero-section {
  margin: 3.5rem auto;
  flex-direction: column;
}
.hero-heading {
  width: 864px;
  font-size: 6.8rem;
  font-weight: 700;
  text-align: center;
}

.hero-subheading {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem 0;
}

@media all and (max-width: 768px) {
  .hero-section {
    align-items: flex-start;
  }
  .hero-heading {
    width: 40rem;
    font-size: 5rem;
    text-align: start;
  }
  .hero-subheading {
    text-align: start;
  }
}

@media all and (max-width: 560px) {
  .hero-heading {
    width: 28rem;
    font-size: 3.6rem;
  }
}

@media all and (max-width: 375px) {
  .hero-heading {
    width: 100%;
  }
}
